header {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    padding: 1rem;
    gap: 55vw;
    width: 100%;
    z-index: 1;
}

.lista {
    display: none;
}

.logo {
    width: 5.5rem;
}

@media (width >= 1100px) {
    .lista {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}