footer {
    background-color: var(--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px;
    margin-top: 10rem;
    font-family: var(--font-sec);
}
footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer a {
    text-decoration: none;
    color: rgb(138, 138, 138);
}
footer h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

footer i {
    margin-left: 10px;
    padding:5px 8px;
    border-radius: 18px;
    color: antiquewhite;
    font-size: 1.5em;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    transition: all 0.3s ease-in-out;
    margin-top: 40px;
}

#social_face:hover {
    background-color: #405de6;
}
#social_insta:hover {
    background: linear-gradient(45deg, #405de6,#5b51db,#b33ab4,#c135b4,#e1306c,#fd1f1f);
}
#social_what:hover{
    background: linear-gradient(30deg, #1fa70d, #2cdb3b, #0cb868, #30a50c);
}

@media (width <= 550px) {
    .info-footer h1, .projetos-footer h1, .redes_sociais h1 {
        font-size: 16px;
    }
    .info-footer li, .projetos-footer li{
        font-size: 15px;
    }
}