main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../img/imagem-fundo-principal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.principal-textos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    font-size: 13rem;
    font-weight: 500;
    color: white;
    font-family: var(--font-main);
    position: relative;
}

main h2 {
    font-weight: lighter;
    color: white;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-folhas {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 130%;
    top: 20%;
}

.folha-preta {
    margin-top: 30px;
    width: 170px;
    rotate: 32deg;
}

.diff {
    margin-top: 30px;
    rotate: 20deg;
    transform: rotate(45deg);
}

.folha {
    width: 250px;
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 30px;
    rotate: 10deg;
    transform: rotateY(180deg);
}

.folha-invertida {
    width: 250px;
    opacity: .5;
    position: absolute;
    bottom: 0;
    right: -40px;
    rotate: -20deg;
}