.contaier-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 25vh;
    text-align: center;
}

.sobre h2 {
    font-size: 50px;
}

.sobre p {
    font-size: 18px;
}

@media (width <= 1000px) {
    .sobre {
        padding: 1rem 12vh;
    }
}

@media (width <= 550px) {
    .sobre {
        padding: 2rem 8vh;
    }
    .sobre p {
        font-size: 15px;
    }
    
}